//====== COLORS =====//

$color-primary: #054D25;
$color-primary-hover: #059646;
$color-error: #e74c3c;
$color-success: #2ecc71;
$color-soldout: #da4c26;
$color-sale: #ffd56c;
$color-visa-card: #0350A0;
$color-american-express-card: #2E6CBF;
$color-jcb-card: #F29C12;