@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

//prevent body from horizontal scrolling
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    padding: 0;
    font-family: 'Lato', sans-serif;
    min-width: 100%;
    max-width: 1500px ;
    margin: 0 auto;
    position: relative; //prevent body from horizontal scrolling
}

